<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEVEXchange</title>
    <link rel="stylesheet" href="/register.css" />
  </head>
  <body>
    <%-include('./authentication/components/nabbar.ejs')%>
    <h1>hello ,this is showing views folder</h1>
  </body>
</html>
